  <div class="flex-shrink-0 p-3 side-race" style="width: 280px; height:100%">
    <a href="{{ path('app_accueil') }}" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <img src="{{ asset('assets/images/smoosii.jpg') }}" alt="TODO" width="30px" height="30px" class="d-inline-block align-text-top">
      <span class="fs-5 fw-semibold px-2">Sop'Racing</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          SIIrcuits
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{{ path('app_siircuit') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Courses officielles</a></li>
            <li><a href="{{ path('app_siircuit_option') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Courses optionnelles</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Marche
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{{ path('app_marketplace') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Marketplace</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Equipes
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{{ path('app_teams') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Teams</a></li>
          </ul>
        </div>
      </li>
    </ul>
</div>